.bubble-text-ai {
    width: 60%;
    height: auto;
    font-size: 14px;
    font-family: sans-serif;
    text-align: left;
    background-color: #262c41;
    color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
}